body {
    background-color: var(--ui_primary_light);
}

nav {
    top: 0px;
}

.page-bg {
    background-color: var(--ui_primary_light);
    background-image:  linear-gradient(135deg, var(--ui_light_1) 25%, transparent 25%), linear-gradient(225deg, var(--ui_light_1) 25%, transparent 25%), linear-gradient(45deg, var(--ui_light_1) 25%, transparent 25%), linear-gradient(315deg, var(--ui_light_1) 25%, var(--ui_primary_light) 25%);
    background-position:  75px 0, 75px 0, 0 0, 0 0;
    background-size: 150px 150px;
    background-repeat: repeat;
    height: 100%;
    opacity: 0.25;
    position: fixed;
    width: 100%;
    z-index: -100;
}

.page-bg-accent {
    bottom: 0;
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
    height: 50vh;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: -100;
}

@media screen and (min-width: 769px) {
    .page-bg-accent {
        clip-path: polygon(33% 0, 100% 0%, 100% 100%, 0% 100%);
        height: 100vh;
        opacity: 1;
        position: fixed;
        width: 50%;
    }
}

#page-bg-accent-light {
    animation: page-bg-accent-light-fly-in-mobile 0.5s cubic-bezier(.4,.8,.6,1) forwards;
    background-color: var(--ui_accent_red_light);
    right: 0;
}

@media screen and (min-width: 769px) {
    #page-bg-accent-light {
        animation: page-bg-accent-light-fly-in-desktop 0.5s cubic-bezier(.4,.8,.6,1) forwards;
    }
}

#page-bg-accent-dark {
    animation: page-bg-accent-dark-fly-in-mobile 0.5s cubic-bezier(.4,.8,.6,1) forwards;
    bottom: 5%;
    background-color: var(--ui_accent_red_dark);
}

@media screen and (min-width: 769px) {
    #page-bg-accent-dark {
        animation: page-bg-accent-dark-fly-in-desktop 0.5s cubic-bezier(.4,.8,.6,1) forwards;
        bottom: 0;
        right: 10%;
    }
}

footer {
    bottom: 0px;
}

/*
    Current team screen
*/

/*
    Pokemon select screen
*/

.pokemon-section {
    display: flex;
    justify-content: right;
    min-height: calc(100% - 84px);
    height: auto;
    padding: 48px 0 36px 0;
    position: absolute;
    width: 100%;
    z-index: 0;

    .pokemon-info {
        height: calc(100vh - 84px);
        left: 0;
        position: fixed;
        width: 50%;
    }
}

.pokemon-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
    margin: 48px 0;
    padding: 0;
    width: 50%;
}

.pokemon-entry {
    background-color: black;
    border-radius: 36px 0 0 36px;
    display: flex;
    height: 72px;
    list-style: none;
    position: relative;
    width: 100%;

    .pokemon-entry-info {
        align-items: center;
        display: flex;
        gap: 4%;
        height: 60px;
        justify-content: left;
        margin: 6px;
        width: 75%;

        & img {
            background-color: var(--ui_primary_light);
            border-radius: 100%;
            height: 100%;
        }

        & p {
            color: white;
            margin: 0;
        }
    }

    .pokemon-entry-type {
        background-color: var(--ui_dark_1);
        clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0% 100%);
        height: 100%;
        width: 25%;
    }
}

/*
    Animation keyframes
*/

@keyframes page-bg-accent-light-fly-in-mobile {
    0% {
        bottom: -70%;
    }

    100% {
        bottom: 0;
    }
}

@keyframes page-bg-accent-dark-fly-in-mobile {
    0% {
        bottom: -65%;
    }

    100% {
        bottom: 5%;
    }
}

@keyframes page-bg-accent-light-fly-in-desktop {
    0% {
        right: -70%;
    }

    100% {
        right: 0;
    }
}

@keyframes page-bg-accent-dark-fly-in-desktop {
    0% {
        right: -60%;
    }

    100% {
        right: 10%;
    }
}