@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Pixelify+Sans&family=Amiko:wght@400;700&display=swap');

@font-face {
    font-family: Pokemon-Glyphs;
    src: url('./ThraexSansRegular-v1000.ttf');
}

/*
    Whole page
*/

:root {
    /*UI colours*/
    --ui_primary_light: #FCFCFC;
    --ui_primary_dark: #0D0D0D;
    --ui_accent_red_light: #C91D2B;
    --ui_accent_red_dark: #86131D;
    --ui_accent_green_light: #ABE830;
    --ui_accent_green_dark: #77B300;
    --ui_light_1: #EBEBEB;
    --ui_light_2: #D9D9D9;
    --ui_light_3: #BFBFBF;
    --ui_dark_1: #1A1A1A;
    --ui_dark_2: #262626;
    --ui_dark_3: #383838;
    /*Type colours*/
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
    /*Game colours*/
    --pkmn_red: #C91D1D;
    --pkmn_blue: #3333CC;
    --pkmn_yellow: #FFFF00;
    --pkmn_gold: #FFBB33;
    --pkmn_silver: #CCCCCC;
    --pkmn_crystal: #98C4CD;
    --pkmn_ruby: #AA0000;
    --pkmn_sapphire: #0000AA;
    --pkmn_emerald: #008800;
    --pkmn_fireRed: #F45925;
    --pkmn_leafGreen: #A6CC33;
    --pkmn_diamond: #5CC2D6;
    --pkmn_pearl: #E87D98;
    --pkmn_platinum: #CCCCCC;
    --pkmn_black: #000000;
    --pkmn_white: #FFFFFF;
    --pkmn_x: #1D8FC9;
    --pkmn_y: #EC1313;
    --pkmn_sun: #F2A60D;
    --pkmn_moon: #2947A3;
    --pkmn_letsGoPikachu: #FBDE51;
    --pkmn_letsGoEevee: #CB8C4D;
    --pkmn_sword: #00AAFF;
    --pkmn_shield: #FF0055;
    --pkmn_legendsArceus: #006699;
    --pkmn_legendsArceusAccent: #7AB87A;
    --pkmn_scarlet: #B81414;
    --pkmn_violet: #5C1F7A;
}

body {
    font-family: 'Amiko';
    font-weight: 400;
    margin: 0;
}

@keyframes body-splash {
    0% {
        background-color: var(--ui_primary_dark);
    }

    100% {
        background-color: var(--ui_primary_light);
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Amiko';
    font-weight: 700;
}

html {
    font-size: 75%;
}

@media screen and (min-width: 769px) {
    html {
        font-size: 100%;
    }
}

h1 {
    font-size: 4.210rem;
}

h2 {
    font-size: 3.158rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small {
    font-size: 0.750rem;
}

/*
    Navbar & Footer
*/

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 48px;
    width: 100%;
    z-index: 100;
}

.navbar-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 48px;
    position: absolute;
    width: 100%;
    z-index: 100;

    .navbar-logo {
        flex: 2;

        & a {
            color: var(--ui_primary_light);
            font-family: 'Pixelify Sans';
            font-size: 1.777rem;
            margin: 0 0 0 20px;
            text-decoration: none;
            text-shadow: 0.125em 0.125em 0 var(--ui_primary_dark);
            user-select: none;
        }
    }

    
    .navbar-settings-container {
        flex: 1;
        height: 48px;
    }
}

.navbar-bg {
    background-color: var(--ui_accent_red_light);
    display: flex;
    height: 48px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 99;

    .navbar-bg-accent {
        clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
        height: 100vh;
        position: absolute;
        right: -1.45%;
        width: 50%;
    }
}

footer {
    align-items: center;
    background-color: var(--ui_primary_dark);
    bottom: 0px;
    display: flex;
    font-family: 'Pixelify Sans';
    position: fixed;
    padding: 0 20px;
    height: 36px;
    width: 100%;
    z-index: 99;

    & p {
        color: white;
    }
}